* {
    margin: 0;
    padding: 0;
}

.main {
    background: #202227;
    width: 100%;
    height: 100vh;
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    height: 50%;
}
.form {
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
.image {
    margin-left: auto;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.image img {
    height: 96%;
    width: 100%;
}
.input {
    margin-block: 1rem;
}
label {
    color: #696f79;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
input {
    width: 94%;
    margin-top: 5px;
    height: 2rem;

    font-family: Poppins;
    font-size: 14px;
    padding: 3%;
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    border: 0.5px solid #8692a6;
    background: #282a2f;
}
.title span {
    color: #8692a6;
    margin-top: 1rem;
    display: block;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    text-align: center;
}
h1 {
    text-align: center;
    color: #fff;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.agree {
    display: flex;
    align-items: center;
    /* margin-left: 1rem; */
}
.agree label {
    color: #696f79;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.agree input {
    display: flex;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 13px;
    height: 13px;
    /* padding: 1.667px; */
}
.submit {
    margin-top: 1rem;

    border-radius: 6px;
    background: #5871eb;
    border: none;
    padding: 5%;
}
